extends layout

block accOpt
    block accOpt
    li
        a(href='/login') Log In

block A
    div(id='aboutBodyDiv' class='body')
        div(id='aboutFormTopTitle')
            h(id='aboutTopTitle') Vinci is a DESKTOP multiplayer free-to-play pictionary game!
        
        div(id='contentDiv' class='aboutContentHolder')

            div(class='aboutDiv')
                h5(class='aboutHeadding') The goal of Vinci is simple!

            div(class='aboutDiv')
                h5(class='aboutHeadding') Every round, one person gets to choose a word and draw it to their best ability.
                
            div(class='aboutDiv')
                h5(class='aboutHeadding') The rest of the players have to guess what they think the word is as fast as they can.
                    
            div(class='aboutDiv')
                h5(class='aboutHeadding') The person with the most points at the end of the game is the winner!

            div(class='aboutDiv')
                h5(class='aboutHeadding') It's really that simple!

            div(id='aboutFormContributors')
                h(id='aboutContributors') Vinci is created and brought to you by:

            div(class='aboutDiv')
                ul(id='list')
                    li Erik Shrestha - Developer
                    li Brad Pendleton - Developer
                    li Ashton Atkinson - Developer
                    li Kris Reed - Developer