extends layout

block accOpt
    li
        a(href='/login') Log In
        ul(id='manyItems')
            li
                a(href='/create') Register
            li
                a(href='#') Edit
            li
                a(href='#') Something


block A
    div(id='bodyDiv' class='body')
        div(id='topTitle')
            h(id='topTitle') Ready to get your Da Vinci on?
        
        div(id='contentDiv' class='contentHolder')

            a(id='playLink' href='/play') Play
