extends layout

block A
    div(id='bodyDiv' class='body')
        div(id='topTitle')
            h(id='topTitle') Create or join a room below!
        
        div(id='contentDiv' class='contentHolder')

            div(class='flex-container')
                div(class='title flex-child')
                    h5(class='inputHeading') Create Room
                    input(id='createCode' type='number' placeholder="Room  #" autocomplete="off" )
                    p(id='createCodeError' class='error') 

                div(class='title flex-child')
                    h5(class='inputHeading') &nbsp;
                    h2(id='create' class='action') Create!

            div(class='flex-container')
                div(class='title flex-child')
                    h5(class='inputHeading') Join Room
                    input(id='joinCode' type='number' placeholder="Room  #" autocomplete="off" )
                    p(id='joinCodeError' class='error') &nbsp;

                div(class='title flex-child')
                    h5(class='inputHeading') &nbsp;
                    h2(id='join' class='action') Join!
            

    script(defer src="/socket.io/socket.io.js")
    script(defer src="/play.js") 
                

    
