extends layout

block A
    div(id='bodyDiv' class='body')
        div(id='topTitle')
            h(id='topTitle') Create or join a room below!
        
        div(id='contentDiv' class='contentHolder')

            form(method='POST' action='/room' onsubmit="true")
                h5(class='inputHeading') Create Room
                input(id='createCode' type='text' placeholder='Room  #' name='roomCode' autocomplete='off' required)
                input(type='submit' value='Create')

            
            h5(class='inputHeading') Join Room
            input(id='joinCode' type='text' placeholder='Room  #' name='roomCode' autocomplete='off' required)
            input(id='join' type='submit' value='Join')
            

    //- script(defer src="/socket.io/socket.io.js")
    script(defer src="/play.js") 
                

    
