extends layout

block A

    div(id='bodyDiv' class='body')

        div(id='allElementHolder')

            div(id='canvasHolder')
                canvas(id='canvas')
                
            div(id='toolbox')
                    div(id='item1' class='flexDown')
                        i(id='1' class='fa fa-circle fa-xs brush')

                    div( class='flexDown')
                        i(id='2' class='fa fa-circle fa-lg brush')

                    div( class='flexDown')
                        i(id='3' class='fa fa-circle fa-2x brush')

                    div(class='flexDown')
                        i(id='Red' class='fa fa-square item fa-lg color' style='color:red;')

                    div(class='flexDown')
                        i(id='Orange' class='fa fa-square item fa-lg color' style='color:orange;')

                    div(class='flexDown')
                        i(id='Yellow' class='fa fa-square item fa-lg color' style='color:yellow;')

                    div(class='flexDown')
                        i(id='Green' class='fa fa-square item fa-lg color' style='color:green;')

                    div(class='flexDown')
                        i(id='Blue' class='fa fa-square item fa-lg color' style='color:blue;')

                    div(class='flexDown')
                        i(id='Indigo' class='fa fa-square item fa-lg color' style='color:indigo;')

                    div(class='flexDown')
                        i(id='Violet' class='fa fa-square item fa-lg color' style='color:violet;')

                    div(class='flexDown')
                        i(id='Black' class='fa fa-square item fa-lg color' style='color:black;')

                    div(class='flexDown')
                        i(id='erase' class='fa fa-eraser item fa-lg' style='color:pink;')

                    div(class='flexDown')
                        i(id='clear' class='fa fa-trash item fa-2x' style='color:grey;')

            div(id='chatHolder')

                div(id='topDiv')
                    div(id='usernameHolder')
                        p(id='username') #{username}
                    
                    div(id='wordHolder')
                        p(id='word') A B C D E F G H I J K L M N

                div(id='bottomDiv')

                    div(id='chatBox')

                    div(id='chatFunctions')    

                        div(id='messageBox')
                            input(id='messageText' placeholder='Guess...' type='text' autocomplete='off')

                        div(id='sendBtn')
                            p(id='sendIcon') ^
    
    script(defer src="/socket.io/socket.io.js")
    script(defer src="/room.js") 


