body {
    background: url('images/about-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#aboutBodyDiv {
    margin: auto;
    margin: auto;
    margin-top: 4%;
    backdrop-filter: blur(4px);
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    width: 50%;
    padding-bottom: 8%;
    padding-top: 1%;
    text-align:center;
}

#aboutFormTopTitle {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 3%;
    color: #f8990a;
}

#aboutTopTitle {
    text-decoration: underline;
    font-weight: 700;
    margin:0px; 
    padding:30px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
    margin: auto;
    color: #f8990a;
    font-size: 18px;
}

.aboutHeadding {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: .5%;
    padding-bottom: .5%;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
}

#aboutFormContributors {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 3%;
    color: #f8990a;
}

#aboutContributors {
    text-decoration: underline;
    font-weight: 700;
    margin:0px; 
    padding:30px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
    margin: auto;
    color: #f8990a;
    font-size: 18px;
}

#list {
    font-size: 14px;
}